<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="row">
        <div class="col-md-6 footer mt-3">
          <h5>LIÊN HỆ</h5>
          <b>Cửa hàng điện máy Nhuận Thanh</b>
          <p>
            <i class="fas fa-map-marker-alt"></i>
            Số nhà 377, đường Lê Lợi, Thị trấn Thường Xuân, huyện Thường Xuân, tỉnh Thanh Hoá
          </p>
          <p><i class="fas fa-phone-square-alt"></i>
            Số điện thoại cửa hàng: 0373 873 094
            <br> Mr Nhuận: 0919 564 312 - 0129 308 79 79
            <br> Mrs Thanh: 0916 001 056
          </p>
          <p><i class="fas fa-envelope"></i> nhuanthanhtx@gmail.com
          </p>
        </div>
        <div class="col-md-3 footer mt-3">
          <h5> HỖ TRỢ KHÁCH HÀNG</h5>
          <ul>
            <li><a href="#">Hướng dẫn mua hàng</a></li>
            <li><a href="#">Hướng dẫn thanh toán</a></li>
            <li><a href="#">Hướng dẫn giao nhận</a></li>
            <li><a href="#">Điều khoản dịch vụ</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer mt-3">
          <h5>CHÍNH SÁCH & QUY ĐỊNH</h5>
          <ul>
            <li><a href="#">Chính sách bảo mật</a></li>
            <li><a href="#">Chính sách vận chuyển</a></li>
            <li><a href="#">Chính sách đổi trả</a></li>
            <li><a href="#">Quy định sử dụng</a>
            </li>
          </ul>
        </div>
      </div>
      </div>

    <div class="col-1"></div>
  </div>
</nav>
