<app-header></app-header>
<div class="container">
  <app-menu-bar></app-menu-bar>
  <div class="row">
    <div class="col-md-6 mt-3">
      <img [src]="product.image" width="700px">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 mt-3">
      <div class="product-details">
        <h3 class="mt-3">{{product.name}}</h3>
        <p class="model">{{product.code}}</p>
        <hr/>
        <div class="row">
          <div class="col-md-12 info">
            <div class="description">
              <h6>{{titleInfo}}</h6>
              <table *ngFor="let feat of product.features">
                <tr>
                  <td class="feature">{{feat.feature}}</td>
                  <td class="measure">{{feat.measure}}</td>
                </tr>
              </table>
            </div>
            <hr/>
            <div>
              <ul *ngFor="let des of product.descriptions">
                <li>{{des}}</li>
              </ul>
            </div>
            <hr/>
            <div class="local">
              <h6>{{titleLocal}}</h6>
              <ul>
                <li>{{address}}</li>
              </ul>
            </div>
            <hr/>
            <div class="refund">
              <h6>{{titleRefund}}</h6>
              <ul *ngFor="let refund of refundInfo">
                <li>{{refund}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mb-4 text-center">
          <h4 class="mt-3">{{product.price}}</h4>
          <app-button-add-to-cart></app-button-add-to-cart>
          <button class="btn btn-danger w-25 mt-2">{{button}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
