<app-header></app-header>
<div class="container">
  <app-menu-bar></app-menu-bar>
  <div class="row">
    <div class="col-md-6 mt-3">
      <img src="assets/images/vot_bat_muoi_3.jpg" width="700px">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 mt-3">
      <div class="product-details">
        <h3 class="mt-3">Vợt bắt muỗi điện tử</h3>
        <p class="model">Mã sản phẩm: VBM-RD1</p>
        <hr/>
        <div class="row">
          <div class="col-md-12 info">
            <div class="description">
              <h6>Thông tin sản phẩm</h6>
              <table>
                <tr>
                  <td style="width: 300px">Điện áp nguồn sạc: </td>
                  <td style="font-weight: bold">100 - 250 V</td>
                </tr>
                <tr>
                  <td>Điện áp đầu ra: </td>
                  <td style="font-weight: bold">≥2.0 kV</td>
                </tr>
                <tr>
                  <td>Công suất: </td>
                  <td style="font-weight: bold">3.5 W</td>
                </tr>
                <tr>
                  <td>Thời gian sạc đầy pin: </td>
                  <td style="font-weight: bold">(4-6)h</td>
                </tr>
                <tr>
                  <td>Cấp bảo vệ:</td>
                  <td style="font-weight: bold">IP20</td>
                </tr>
              </table>
            </div>
            <hr/>
            <div>
              <ul>
                <li>
                  Có đèn chiếu sáng Led tích hợp và đèn báo sạc pin tiện lợi cho người sử dụng
                </li>
                <li>Sử dụng pin sạc Lithium an toàn với môi trường, tuổi thọ cao, nạp xả được nhiều lần
                </li>
                <li>Vợt bắt muỗi sử dụng để diệt côn trùng như: muỗi, các loại côn trùng bay kích thước tương đương
                  muỗi,...
                </li>
              </ul>
            </div>
            <hr/>
            <div class="local">
              <h6>Mua hàng trực tiếp tại cửa hàng</h6>
              <ul>
                <li>Số nhà 377, đường Lê Lợi, Thị trấn Thường Xuân, Thường Xuân, Thanh Hoá</li>
              </ul>
            </div>
            <hr/>
            <div class="refund">
              <h6>Giao hàng và đổi trả</h6>
              <ul>
                <li>Đổi trả hàng tùy thuộc sản phẩm</li>
                <li>Phí vận chuyển tùy thuộc vào địa điểm</li>
                <li>Thanh toán khi nhận hàng</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mb-4 text-center">
          <h4 class="mt-3">Giá bán lẻ đề xuất: 169.400 VNĐ</h4>
          <app-button-add-to-cart></app-button-add-to-cart>
          <button class="btn btn-danger w-25 mt-2">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
